@use './resets';
@use './variables' as *;

body {
  font-family: 'Plus Jakarta Sans', Nunito, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @media (prefers-color-scheme: light) {
    content: 'light';
  }
  @media (prefers-color-scheme: dark) {
    content: 'dark';
  }
}
#modal-root {
  position: relative;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  place-items: center;
  inset: 0;
  z-index: 2;
  padding: $spacer;

  &:empty {
    display: none;
  }
  .backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba($dark-400, 0.25);
    z-index: -1;
  }
}
#root {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}
