@use './resets';
@use './variables' as *;

body {
  font-family: 'Plus Jakarta Sans', Nunito, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: start;

  @media (prefers-color-scheme: light) {
    content: 'light';
  }
  @media (prefers-color-scheme: dark) {
    content: 'dark';
  }
  @media (max-width: 700px) {
    display: block;
  }
}
#modal-root {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  place-items: center;
  z-index: 2;
  padding: $spacer;
  height: 100%;
  min-height: 100vh;
  position: relative;

  &:empty {
    pointer-events: none;
  }
  .backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba($dark-400, 0.25);
    z-index: -1;
  }
  @media (max-width: 700px) {
    position: absolute;
    height: max-content;
  }
}
#root {
  grid-row: 1;
  grid-column: 1;
  position: sticky;
  top: 0;
}
