@use '../variables' as *;

.body {
  display: grid;
  min-height: calc(100vh - 66px);
  place-content: center;
  background-color: $gray-100;
  padding: $spacer;
  overflow-x: auto;

  @include screen(700) {
    min-height: unset;
  }

  &:has(.body__boards) {
    display: block;
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:not(:first-child) {
      display: none;
    }

    &__message {
      color: $gray-200;
      font-weight: 700;
      margin-bottom: $spacer;
    }
    button:disabled {
      cursor: not-allowed;
      opacity: 0.25;

      &:hover {
        background-color: $purple-main;
      }
    }
  }
  .hide-sidebar {
    display: none;
  }
  &__boards {
    display: grid;
    width: max-content;
    grid-auto-flow: column;
    column-gap: $spacer * 2;
    grid-template-columns: repeat(auto-fit, 300px);
  }
  &__add-board {
    background-image: linear-gradient(
      180deg,
      #e9effa 0%,
      rgba(233, 239, 250, 0.5) 100%
    );
    border-radius: 6px;
    height: calc(100% - 40px);
    width: 300px;
    margin-top: 40px;
    display: grid;
    place-content: center;
    cursor: pointer;
    padding: $spacer;

    p {
      color: $gray-200;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
}
