@use '../variables' as *;

.header {
  display: flex;
  align-items: center;
  gap: $spacer;
  padding: $spacer;
  position: relative;

  @include screen(700) {
    position: sticky;
    top: 0;
    background-color: $white;
    box-shadow: 2px 0 1px $gray-200;
  }

  img {
    object-fit: contain;
    height: 100%;

    &:not(.header__logo) {
      cursor: pointer;
    }

    @include screen(700) {
      &:is(.header__logo, .header__chevron) {
        display: none;
      }
      &.header__ellipsis {
        width: 0.4rem;
      }
    }
  }
  &__title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.3rem;

    & + img {
      width: 0.95rem;
    }

    @include screen(355, $type: 'max') {
      font-size: 1rem;

      & + img {
        width: 0.75rem;
      }
    }
  }
  &__add-task {
    background-color: $purple-main;
    padding: 0.75em 1.3em;
    border-radius: 100vh;
    margin-left: auto;
    cursor: pointer;

    &.disabled {
      opacity: 0.25;
    }

    p {
      display: none;

      @include screen(700) {
        display: unset;
        text-transform: capitalize;
      }
    }
  }
  &__sidebar-hidden {
    display: none;
    align-items: center;
    gap: $spacer;
    display: none;

    p {
      font-weight: 700;
      font-size: 2rem;
    }
  }
  &__dropdown {
    position: absolute;
    padding: $spacer;
    box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
    border-radius: 8px;
    text-transform: capitalize;
    inset: auto $spacer -100% auto;
    background-color: $white;
    font-weight: 500;
    padding-right: $spacer * 4;

    p {
      cursor: pointer;
    }
    p:first-child {
      color: $gray-200;
      margin-bottom: $spacer;
    }
    p:last-child {
      color: $red-200;
    }
  }
}
