@use '../variables' as *;

.navbar {
  position: absolute;
  inset: 65px 0 0 0;
  background-color: rgba(#000000, 0.5);
  pointer-events: none;

  &.active {
    pointer-events: unset;
  }
  @include screen(700) {
    position: sticky;
    top: 0;
    pointer-events: unset !important;
    opacity: 1 !important;
    width: max-content;
    background-color: $white;
    box-shadow: 0 2px 1px $gray-200;
    padding-top: $spacer;
  }

  &__container {
    width: max-content;
    color: $gray-200;
    font-weight: 700;
    background-color: $white;
    padding-block: $spacer * 0.5;
    border-radius: 8px;
    margin: $spacer auto 0;

    @include screen(700) {
      margin: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-block: 0;
    }
  }
  &__header {
    display: none;

    @include screen(700) {
      display: flex;
      gap: $spacer;
      padding-left: 1.4em;

      p {
        color: $dark-400;
        font-size: 2rem;
        font-weight: 700;
      }
      img {
        object-fit: contain;
      }
    }
  }
  &__board {
    display: flex;
    gap: $spacer;
    text-transform: capitalize;
    padding: 0.75em 1.4em;
    margin-bottom: $spacer;
    margin-right: $spacer * 1.5;
    border-radius: 0px 100px 100px 0px;
    cursor: pointer;

    p {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.navbar__add-board {
      color: $purple-main;
      img:nth-child(2) {
        width: 0.8rem;
      }
    }
    &.active {
      background-color: $purple-main;
      img {
        filter: brightness(100);
      }
      p {
        color: $white;
      }
    }

    img {
      object-fit: contain;
      width: 1.3rem;
    }
  }
  &__title {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    padding: $spacer 0 $spacer 1.4em;

    @include screen(700) {
      margin-block: $spacer * 1.5 $spacer * 0.5;
    }
  }
  &__theme {
    display: flex;
    place-content: center;
    margin-inline: auto;
    padding: $spacer;
    border-radius: 6px;
    gap: $spacer * 1.5;
    width: calc(100% - 2.4em);
    background-color: $gray-100;

    @include screen(700) {
      margin-top: auto;
    }

    &-toggler {
      height: 24px;
      width: 45px;
      border-radius: 100vh;
      background-color: $purple-main;
      padding: 3px;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;

      &[data-ison='true'] {
        justify-content: flex-end;
      }

      div {
        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: $white;
      }
    }

    img {
      width: 1.5rem;
    }
  }
  &__hide {
    display: flex;
    align-items: center;
    gap: $spacer;
    cursor: pointer;
    margin: $spacer * 1.5 0 $spacer * 2 $spacer * 1.4;
    text-transform: capitalize;

    @include screen(700, 'max') {
      display: none;
    }
  }
}
