@use '../variables' as *;

.view-task {
  background-color: $white;
  width: min(95%, 480px);
  padding: $spacer;
  border-radius: 6px;
  margin-inline: auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacer;
    position: relative;

    p {
      font-weight: 700;
      font-size: 1.25rem;
    }
    img {
      object-fit: contain;
      height: 20px;
      cursor: pointer;
    }
  }
  &__description {
    color: $gray-200;
    margin-top: $spacer;
    line-height: 23px;
  }
  &__subtasks {
    margin-block: $spacer * 1.2 $spacer;
    color: $gray-200;
    font-weight: 700;
  }
  .subtask {
    display: flex;
    align-items: center;
    gap: $spacer;
    background-color: $gray-100;
    padding: $spacer;
    margin-bottom: $spacer;
    border-radius: 4px;
    color: $dark-400;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 250ms linear;

    input {
      display: none;
    }
    .custom-checkbox {
      width: 18px;
      height: 18px;
      padding: 0.2em;
      border: 1px solid rgba(130, 143, 163, 0.248914);
      border-radius: 2px;
      background-color: $white;

      svg {
        display: block;
      }
    }
    &:has(input:checked) {
      color: rgba($dark-400, 0.5);
      text-decoration: line-through;
    }
    &:hover {
      background-color: rgba($purple-main, 0.25);
    }
  }
  &__current {
    color: $gray-200;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: $spacer * 1.5;
  }
  &__status {
    margin-top: $spacer;
    .status-dropdown {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid rgba(130, 143, 163, 0.25);
      border-radius: 4px;
      padding: $spacer;
      cursor: pointer;
      margin-bottom: $spacer;

      img {
        width: 1rem;
      }
    }
  }
  // .status-menu {
  //   color: $gray-200;
  //   line-height: 24px;
  //   box-shadow: 0 0 2px rgba($dark-400, 0.25);
  //   padding: $spacer;
  //   border-radius: 4px;
  //   transform-origin: 50% 0;
  //   // position: absolute;
  //   background-color: $white;
  //   // width: 100%;

  //   p {
  //     padding-inline: $spacer;
  //     margin-bottom: $spacer;
  //     cursor: pointer;
  //   }
  // }
  &__dropdown {
    position: absolute;
    padding: $spacer;
    box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
    border-radius: 8px;
    text-transform: capitalize;
    inset: 100% $spacer * 0.5 auto auto;
    background-color: $white;
    padding-right: $spacer * 4;

    p {
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
    }
    p:first-child {
      color: $gray-200;
      margin-bottom: $spacer;
    }
    p:last-child {
      color: $red-200;
    }
  }
}
.status-menu {
  color: $gray-200;
  line-height: 24px;
  box-shadow: 0 0 2px rgba($dark-400, 0.25);
  padding: $spacer;
  border-radius: 4px;
  transform-origin: 50% 0;
  background-color: $white;
  width: calc(min(95%, 480px) - 2em);
  margin-top: -20px;
  margin-inline: auto;

  p {
    padding-inline: $spacer;
    margin-bottom: $spacer;
    cursor: pointer;
  }
}
