@use '../variables' as *;

.view-task {
  background-color: $white;
  width: min(95%, 480px);
  padding: $spacer;
  border-radius: 6px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacer;

    p {
      font-weight: 700;
      font-size: 1.25rem;
    }
    img {
      object-fit: contain;
      height: 20px;
      cursor: pointer;
    }
  }
  &__description {
    color: $gray-200;
    margin-top: $spacer;
    line-height: 23px;
  }
  &__subtasks {
    margin-block: $spacer * 1.2 $spacer;
    color: $gray-200;
    font-weight: 700;
  }
  .subtask {
    display: flex;
    align-items: center;
    gap: $spacer;
    background-color: $gray-100;
    padding: $spacer;
    margin-bottom: $spacer;
    border-radius: 4px;
    color: $dark-400;
    font-weight: 700;
    cursor: pointer;

    input {
      display: none;
    }
    .custom-checkbox {
      width: 18px;
      height: 18px;
      padding: 0.2em;
      border: 1px solid rgba(130, 143, 163, 0.248914);
      border-radius: 2px;
      background-color: $white;

      svg {
        display: block;
      }
    }

    &:has(input:checked) {
      color: rgba($dark-400, 0.5);
      text-decoration: line-through;

      // .custom-checkbox {
      //   background-color: $purple-main;
      //   svg {
      //     display: block;
      //   }
      // }
    }
  }
  &__current {
    color: $gray-200;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: $spacer * 1.5;
  }
  &__status {
    margin-top: $spacer;
    .status-dropdown {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid rgba(130, 143, 163, 0.25);
      border-radius: 4px;
      padding: $spacer;
      cursor: pointer;
      margin-bottom: $spacer;

      img {
        width: 1rem;
      }
    }
  }
  .status-menu {
    color: $gray-200;
    line-height: 24px;
    box-shadow: 0 0 2px rgba($dark-400, 0.25);
    padding: $spacer;
    border-radius: 4px;
    transform-origin: 50% 0;

    p {
      padding-inline: $spacer;
      margin-bottom: $spacer;
      cursor: pointer;
    }
  }
}
