@use '../variables' as *;

// .homepage {
//   display: grid;
//   grid-template-rows: 68px 1fr;
//   min-height: 100vh;
// }

.homepage {
  @include screen(700) {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    grid-template-areas: 'nav header' 'nav body';
    min-height: 100vh;
  }
  .navbar {
    grid-area: nav;
    // height: 100vh;
  }
  .header {
    grid-area: header;
  }
  .body {
    grid-area: body;
  }
  &[data-is_side_bar_hidden='true'] {
    grid-template: auto 1fr / 1fr;
    grid-template-areas: 'header' 'body';

    nav {
      display: none;
    }
    @include screen(700) {
      .header {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          inset: 0 auto 0 calc(155px + ($spacer * 2));
          background-color: $sky-blue;
          width: 1px;
        }
        &__sidebar-hidden {
          display: flex;
          margin-right: $spacer;
        }
      }
      .body {
        position: relative;

        .hide-sidebar {
          display: block;
          position: fixed;
          inset: auto auto $spacer * 2 0;
          background-color: $purple-main;
          width: 50px;
          padding-block: $spacer;
          padding-right: 0.2em;
          border-radius: 0 100px 100px 0;
          cursor: pointer;

          img {
            filter: brightness(100);
            margin-inline: auto;
          }
        }
      }
    }
  }
  &[data-theme='dark'] {
    .body {
      background-color: $dark-300;

      &__add-board {
        background: linear-gradient(
          180deg,
          rgba(43, 44, 55, 0.25) 0%,
          rgba(43, 44, 55, 0.125) 100%
        );
      }
    }
    .board__task {
      background-color: $dark-200;
      box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);

      p:first-child {
        color: $white;
      }
      p:last-child {
        color: $gray-200;
      }
    }
    .header {
      background-color: $dark-200;

      &__title {
        color: $white;
      }
      &__sidebar-hidden {
        p {
          color: $white;
        }
      }
      &::after {
        background-color: rgba($gray-200, 0.5);
      }
    }
    .navbar {
      background-color: $dark-200;
      &__container {
        background-color: $dark-200;
      }
      &__header p {
        color: $white;
      }
      &__theme {
        background-color: $dark-300;
      }
    }
  }
}
